<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand">Stripe Element</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/card']">Card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/strip-checkout']">Checkout</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/payment']">Payment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/card-element']">Custom</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
