<div class="d-flex justify-content-center">
  <h3>Card Element</h3>
</div>

<div class="row w-50 d-flex m-auto">
  <form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout">
    <div class="form-row">
      <label for="card-info">Card Info</label>
      <div id="card-info" #cardInfo></div>
      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>
    <button class="btn btn-primary mt-3" type="submit">Pay $5</button>
  </form>
</div>