<div class="m-3">
    <div class="d-flex justify-content-center">
        <h3>Payment Element</h3>
    </div>
    <div class="m-3">
        <div class="payment-card">
            <div #paymentElement></div>
        </div>
        <button class="btn btn-primary" (click)="handlePayment()">Submit Payment</button>
    </div>
</div>