<div class="d-flex justify-content-center">
    <h3>
        Create card using 3 diff element
    </h3>
</div>
<div class="m-auto" style="width: 30rem;">
        <div class="card-number">
            <div class="col-6" #cardNumber id="cardNumber"></div>
        </div>
        <div *ngIf="cardObject.card?.error">
            {{cardObject.card?.error}}
        </div>
        <div class="d-flex justify-content-between">
            <div class="col-6 mt-3 card-expiry" #cardExpiry id="cardExpiry"></div>
            <div *ngIf="cardObject.expiry?.error">
                {{cardObject.expiry?.error}}
            </div>
            <div class="col-4 mt-3 ms-3 card-cvc" #cardCvc id="cardCvc"></div>
            <div *ngIf="cardObject.cvc?.error">
                {{cardObject.cvc?.error}}
            </div>
        </div>
    <div>
        <button class="btn btn-primary" (click)="handlePayment()">Submit Payment</button>
    </div>
</div>